  <!--Page Load-->
<div class="pageload">
    <div class="open-top"></div>
    <div class="open-bottom"></div>
    <svg id="logo"
         width="392"
         height="257"
         viewBox="0 0 392 257"
         fill="none"
         xmlns="http://www.w3.org/2000/svg">
        <path d="M132.555 196.5V50.5L105.555 61.5V196.5H132.555Z"
              fill="url(#paint0_linear_0_1)"
              stroke="url(#paint1_linear_0_1)" />
        <path d="M137.555 194.5V55L149.555 64.5V194.5H137.555Z"
              fill="url(#paint2_linear_0_1)"
              stroke="url(#paint3_linear_0_1)" />
        <path d="M157.055 191V17L195.555 1V180L157.055 191Z"
              fill="url(#paint4_linear_0_1)"
              stroke="url(#paint5_linear_0_1)" />
        <path d="M200.555 178.5V8.5L219.055 24V170L200.555 178.5Z"
              fill="url(#paint6_linear_0_1)"
              stroke="url(#paint7_linear_0_1)" />
        <path d="M226.055 166.5V94L245.555 87V154L226.055 166.5Z"
              fill="url(#paint8_linear_0_1)"
              stroke="url(#paint9_linear_0_1)" />
        <path d="M248.555 152V87.5L258.055 98.5V145.5L248.555 152Z"
              fill="url(#paint10_linear_0_1)"
              stroke="url(#paint11_linear_0_1)" />
        <path d="M59.0554 175C60.4342 154.535 75.6694 144.226 105.555 139.5V163.5C93.2575 165.445 87.7171 167.95 86.0554 181C86.4358 189.432 87.7788 193.816 94.5554 198.5C101.788 202.099 111.906 201.385 129.055 200.5C146.434 199.644 156.176 197.872 173.555 193C195.931 187.224 208.051 182.158 229.055 170.5C262.892 149.493 279.491 135.06 302.555 102L307.555 91.5L289.055 97L302.555 74L289.055 52L313.055 60.5L328.055 37V64.5L353.055 74L329.555 83.5V109.5L315.055 91.5C299.663 123.105 288.005 140.332 254.555 169C234.385 184.175 220.912 192.413 188.055 206C176.761 210.191 170.416 212.275 159.055 215C148.781 217.534 142.589 218.722 129.055 219.5C115.371 220.376 107.791 220.49 94.5554 219.5C86.5049 217.284 82.2885 215.705 75.5554 212C62.654 201.3 58.4552 193.54 59.0554 175Z"
              fill="url(#paint12_linear_0_1)"
              stroke="url(#paint13_linear_0_1)" />

        <defs>
            <linearGradient id="paint0_linear_0_1"
                            x1="119.055"
                            y1="50.5"
                            x2="119.055"
                            y2="196.5"
                            gradientUnits="userSpaceOnUse">
                <stop stop-color="#F9D33B" />
                <stop offset="0.489583" stop-color="#FDEDB1" />
                <stop offset="1" stop-color="#F7D03A" />
            </linearGradient>
            <linearGradient id="paint1_linear_0_1"
                            x1="119.055"
                            y1="50.5"
                            x2="119.055"
                            y2="196.5"
                            gradientUnits="userSpaceOnUse">
                <stop stop-color="#F9D33B" />
                <stop offset="1" stop-color="#F9D33B" />
            </linearGradient>
            <linearGradient id="paint2_linear_0_1"
                            x1="143.555"
                            y1="55"
                            x2="143.555"
                            y2="194.5"
                            gradientUnits="userSpaceOnUse">
                <stop stop-color="#F9D33B" />
                <stop offset="0.489583" stop-color="#FDEDB1" />
                <stop offset="1" stop-color="#F7D03A" />
            </linearGradient>
            <linearGradient id="paint3_linear_0_1"
                            x1="143.555"
                            y1="55"
                            x2="143.555"
                            y2="194.5"
                            gradientUnits="userSpaceOnUse">
                <stop stop-color="#F9D33B" />
                <stop offset="1" stop-color="#F9D33B" />
            </linearGradient>
            <linearGradient id="paint4_linear_0_1"
                            x1="176.305"
                            y1="1"
                            x2="176.305"
                            y2="191"
                            gradientUnits="userSpaceOnUse">
                <stop stop-color="#F9D33B" />
                <stop offset="0.489583" stop-color="#FDEDB1" />
                <stop offset="1" stop-color="#F7D03A" />
            </linearGradient>
            <linearGradient id="paint5_linear_0_1"
                            x1="176.305"
                            y1="1"
                            x2="176.305"
                            y2="191"
                            gradientUnits="userSpaceOnUse">
                <stop stop-color="#F9D33B" />
                <stop offset="1" stop-color="#F9D33B" />
            </linearGradient>
            <linearGradient id="paint6_linear_0_1"
                            x1="209.805"
                            y1="8.5"
                            x2="209.805"
                            y2="178.5"
                            gradientUnits="userSpaceOnUse">
                <stop stop-color="#F9D33B" />
                <stop offset="0.489583" stop-color="#FDEDB1" />
                <stop offset="1" stop-color="#F7D03A" />
            </linearGradient>
            <linearGradient id="paint7_linear_0_1"
                            x1="209.805"
                            y1="8.5"
                            x2="209.805"
                            y2="178.5"
                            gradientUnits="userSpaceOnUse">
                <stop stop-color="#F9D33B" />
                <stop offset="1" stop-color="#F9D33B" />
            </linearGradient>
            <linearGradient id="paint8_linear_0_1"
                            x1="235.805"
                            y1="87"
                            x2="235.805"
                            y2="166.5"
                            gradientUnits="userSpaceOnUse">
                <stop stop-color="#F9D33B" />
                <stop offset="0.489583" stop-color="#FDEDB1" />
                <stop offset="1" stop-color="#F7D03A" />
            </linearGradient>
            <linearGradient id="paint9_linear_0_1"
                            x1="235.805"
                            y1="87"
                            x2="235.805"
                            y2="166.5"
                            gradientUnits="userSpaceOnUse">
                <stop stop-color="#F9D33B" />
                <stop offset="1" stop-color="#F9D33B" />
            </linearGradient>
            <linearGradient id="paint10_linear_0_1"
                            x1="253.305"
                            y1="87.5"
                            x2="253.305"
                            y2="152"
                            gradientUnits="userSpaceOnUse">
                <stop stop-color="#F9D33B" />
                <stop offset="0.489583" stop-color="#FDEDB1" />
                <stop offset="1" stop-color="#F7D03A" />
            </linearGradient>
            <linearGradient id="paint11_linear_0_1"
                            x1="253.305"
                            y1="87.5"
                            x2="253.305"
                            y2="152"
                            gradientUnits="userSpaceOnUse">
                <stop stop-color="#F9D33B" />
                <stop offset="1" stop-color="#F9D33B" />
            </linearGradient>
            <linearGradient id="paint12_linear_0_1"
                            x1="206.028"
                            y1="37"
                            x2="206.028"
                            y2="220.2"
                            gradientUnits="userSpaceOnUse">
                <stop stop-color="#F9D33B" />
                <stop offset="0.489583" stop-color="#FDEDB1" />
                <stop offset="1" stop-color="#F7D03A" />
            </linearGradient>
            <linearGradient id="paint13_linear_0_1"
                            x1="206.028"
                            y1="37"
                            x2="206.028"
                            y2="220.2"
                            gradientUnits="userSpaceOnUse">
                <stop stop-color="#F9D33B" />
                <stop offset="1" stop-color="#F9D33B" />
            </linearGradient>
        </defs>
    </svg>
    <div class="name-company"><h1>HOANG GIA GROUP</h1></div>
</div>
