@model List<Model.EF.DoiTac>
@{
    int stt = 0;
}

<div class="section">
    <div class="partner container">
        <div class="partner-title">Đối Tác</div>
        <div class="row mx-0">
            <div class="col-md-3 col-6 p-0">
                <div class="partner-box">
                    <img src="https://koterasu-partners.com/_bm9skaaz3kq3/wp-content/uploads/2020/12/Koterasu_logo_A_Fin_Full.png"
                         alt=""
                         class="img-fluid" />
                    <p class="partner-name">Koterasu</p>
                </div>
            </div>
            <div class="col-md-3 col-6 p-0">
                <div class="partner-box">
                    <img src="https://download.logo.wine/logo/CBRE_Group/CBRE_Group-Logo.wine.png"
                         alt=""
                         class="img-fluid" />
                    <p class="partner-name">CBRE Viet Nam</p>
                </div>
            </div>
            <div class="col-md-3 col-6 p-0">
                <div class="partner-box">
                    <img src="https://cdn.haitrieu.com/wp-content/uploads/2022/01/Logo-Agribank-V.png"
                         alt=""
                         class="img-fluid" />
                    <p class="partner-name">CBRE Viet Nam</p>
                </div>
            </div>
            <div class="col-md-3 col-6 p-0">
                <div class="partner-box">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/1/1f/Logo_ricons_slogan.jpg"
                         alt=""
                         class="img-fluid" />
                    <p class="partner-name">
                        Công ty cổ phần bất động sản VINA Homes
                    </p>
                </div>
            </div>
        </div>
        <div class="row mx-0">
            <div class="col-md-3 col-6 p-0">
                <div class="partner-box">
                    <img src="https://koterasu-partners.com/_bm9skaaz3kq3/wp-content/uploads/2020/12/Koterasu_logo_A_Fin_Full.png"
                         alt=""
                         class="img-fluid" />
                    <p class="partner-name">
                        Công ty cổ phần bất động sản VINA Homes
                    </p>
                </div>
            </div>
            <div class="col-md-3 col-6 p-0">
                <div class="partner-box">
                    <img src="https://download.logo.wine/logo/CBRE_Group/CBRE_Group-Logo.wine.png"
                         alt=""
                         class="img-fluid" />
                    <p class="partner-name">CBRE Viet Nam</p>
                </div>
            </div>
            <div class="col-md-3 col-6 p-0">
                <div class="partner-box">
                    <img src="https://cdn.haitrieu.com/wp-content/uploads/2022/01/Logo-Agribank-V.png"
                         alt=""
                         class="img-fluid" />
                    <p class="partner-name">CBRE Viet Nam</p>
                </div>
            </div>
            <div class="col-md-3 col-6 p-0">
                <div class="partner-box">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/1/1f/Logo_ricons_slogan.jpg"
                         alt=""
                         class="img-fluid" />
                    <p class="partner-name">CBRE Viet Nam</p>
                </div>
            </div>
        </div>
    </div>
</div>
