@model Model.EF.LienHe
@{
    ViewBag.Title = "AddLienHe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    body {
        text-align: center;
        padding: 40px 0;
        background: #EBF0F5;
    }

    h1 {
        color: #88B04B;
        font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
        font-weight: 900;
        font-size: 40px;
        margin-bottom: 10px;
        line-height: 200px;
        margin-left: -15px;
    }

    p {
        color: #404F5E;
        font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
        font-size: 20px;
        margin: 0;
    }

    /*   i checkmark {
        color: #9ABC66;
        font-size: 100px;
        line-height: 200px;
        margin-left: -15px;
    }*/

    .Success {
        background: white;
        padding: 60px;
        border-radius: 4px;
        box-shadow: 0 2px 3px #C8D0D8;
        display: inline-block;
        margin: 0 auto;
        margin-top: 80px;
        margin-bottom: 20px;
    }
</style>
<div class="Success">
    <div style="border-radius:200px;  height:200px; width:200px; background: #F8FAF5; margin:0 auto;">
        <i class="checkmark"><h1>Success</h1></i>
    </div>

    <p>Chúng tôi sẽ sớm liên hệ với bạn;<br /> Cám ơn vì đã để lại thông tin!</p>
    <a href="/"><h2 style="color:orange">Trở về trang chủ</h2></a>
</div>
