<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/admin" class="brand-link">
        <img src="~/Public/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light">Trang quản trị</span>
    </a>
    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="~/Public/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">Admin</a>
            </div>
        </div>
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
    with font-awesome or any other icon font library -->
                <li class="nav-item has-treeview menu-open">
                    <a href="/admin" class="nav-link active">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            Dashboard
                        </p>
                    </a>
                </li>
                <li class="nav-item has-treeview menu-open">
                    <a href="/admin/product" class="nav-link active">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            Sản phẩm
                        </p>
                    </a>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-copy"></i>
                        <p>
                            Bài viết
                            <i class="fas fa-angle-left right"></i>

                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/Admin/Category/" class="nav-link">
                                <i class="fas fa-book"></i>
                                <p>Danh mục bài viết</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Admin/content/create" class="nav-link">
                                <i class="fas fa-edit"></i>
                                <p>Thêm mới bài viết</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Admin/Content" class="nav-link">
                                <i class="fas fa-book"></i>
                                <p>Danh sách bài viết</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-chart-pie"></i>
                        <p>
                            Dự án
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/Admin/CategoryProject" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Loại dự án</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Admin/Project/create" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Thêm mới dự án</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Admin/Project" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Danh sách dự án</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-copy"></i>
                        <p>
                            Xây dựng
                            <i class="fas fa-angle-left right"></i>

                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/Admin/LoaiXayDung" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Danh sách loại xây dựng </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Admin/XayDung/create" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Thêm mới </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Admin/XayDung" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Danh sách dự án tiêu biểu</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-copy"></i>
                        <p>
                            Ẩm thực
                            <i class="fas fa-angle-left right"></i>

                        </p>
                    </a>
                    <ul class="nav nav-treeview">

                        <li class="nav-item">
                            <a href="/Admin/AmThuc/create" class="nav-link">
                                <i class="fas fa-edit"></i>
                                <p>Thêm mới </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Admin/AmThuc" class="nav-link">
                                <i class="fas fa-book"></i>
                                <p>Danh sách ẩm thực</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="fas fa-users"></i>
                        <p>
                            Danh sách user
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/Admin/user/create" class="nav-link">
                                <i class="fas fa-user-plus"></i>
                                <p>Thêm mới user</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Admin/user" class="nav-link">
                                <i class="fas fa-users"></i>
                                <p>Danh sách user</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">

                        <i class="fab fa-slideshare"></i>
                        <p>
                            Slide
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/Admin/Slide" class="nav-link">
                                <i class="fas fa-clipboard-list"></i>
                                <p>Danh sách slide</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Admin/Slide/Create" class="nav-link">
                                <i class="nav-icon fas fa-edit"></i>
                                <p>Thêm mới slide</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">

                        <i class="fab fa-slideshare"></i>
                        <p>
                            Tuyển dụng
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/Admin/Vitrituyendung" class="nav-link">
                                <i class="fas fa-clipboard-list"></i>
                                <p>Danh sách tuyển dụng</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Admin/PhucLoi" class="nav-link">
                                <i class="fas fa-clipboard-list"></i>
                                <p>Danh sách phúc lợi</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">

                        <i class="fab fa-slideshare"></i>
                        <p>
                            Ứng tuyển
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/Admin/Tuyendung" class="nav-link">
                                <i class="fas fa-clipboard-list"></i>
                                <p>Danh sách ứng tuyển</p>
                            </a>
                        </li>

                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">

                        <i class="fab fa-slideshare"></i>
                        <p>
                            Hội đồng quản trị
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/Admin/quanly" class="nav-link">
                                <i class="fas fa-clipboard-list"></i>
                                <p>Danh sách hội đồng</p>
                            </a>
                        </li>

                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">

                        <i class="fab fa-slideshare"></i>
                        <p>
                            Banner quảng cáo
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/Admin/ThongBao" class="nav-link">
                                <i class="fas fa-clipboard-list"></i>
                                <p>Danh sách banner</p>
                            </a>
                        </li>

                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">

                        <i class="fab fa-slideshare"></i>
                        <p>
                            Thông tin doanh nghiệp
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/Admin/Footer/Edit/1" class="nav-link">
                                <i class="fas fa-clipboard-list"></i>
                                <p>Cập nhật thông tin</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">

                        <i class="fab fa-slideshare"></i>
                        <p>
                            Giới thiệu
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/Admin/About/Edit/1" class="nav-link">
                                <i class="fas fa-clipboard-list"></i>
                                <p>Cập nhật giới thiệu</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">

                        <i class="fab fa-slideshare"></i>
                        <p>
                            Lĩnh vực hoạt động
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/Admin/LinhVucHoatDong/Create" class="nav-link">
                                <i class="fas fa-clipboard-list"></i>
                                <p>Thêm lĩnh vực</p>
                            </a>
                        </li>
                    </ul>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/Admin/LinhVucHoatDong" class="nav-link">
                                <i class="fas fa-clipboard-list"></i>
                                <p>Danh sách lĩnh vực</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">

                        <i class="fas fa-clipboard-list"></i>
                        <p>
                            Kênh hỗ trợ
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/Admin/Hotline/" class="nav-link">
                                <i class="fas fa-clipboard-list"></i>
                                <p>Danh sách hỗ trợ</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">

                        <i class="fas fa-clipboard-list"></i>
                        <p>
                            Header
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/Admin/ScritpHeader/" class="nav-link">
                                <i class="fas fa-clipboard-list"></i>
                                <p>Danh sách header</p>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>